{%- comment -%}
  Renders the country picker for the localization form

  Accepts:
    - localPosition: pass in the position in which the form is coming up to create specific IDs
{%- endcomment -%}

<select class="select select-ghost w-full max-w-xs rounded-none">
  {%- for country in localization.available_countries -%}
    {% if country.iso_code == localization.country.iso_code %}
      <option disabled selected>
        {{- country.currency.iso_code }} {{ country.currency.symbol }} | {{ country.name }}
      </option>
    {% endif %}
    <option>
      {{- country.currency.iso_code }} {{ country.currency.symbol }} | {{ country.name }}
    </option>
  {%- endfor -%}
</select>
