{% comment %}
  Renders a standard dropdown style menu for the header.

  Usage:
  {% render 'header-dropdown-menu' %}
{% endcomment %}

<nav class="header-dropdown-menu">
  <ul class="menu menu-horizontal" role="list">
    {%- for link in section.settings.menu.links -%}
      {%- if link.links != blank -%}
        <li>
          <details id="Details-HeaderMenu-{{ forloop.index }}">
            <summary
              id="HeaderMenu-{{ link.handle }}"
              class="rounded-none"
              {%- if link.child_active %}
                class="header__active-menu-item"
              {% endif %}
            >
              {{- link.title | escape -}}
            </summary>
            <ul
              id="HeaderMenu-MenuList-{{ forloop.index }}"
              role="list"
              tabindex="-1"
              class="rounded-none bg-white"
            >
              {%- for childlink in link.links -%}
                <li>
                  {%- if childlink.links == blank -%}
                    <a
                      id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                      href="{{ childlink.url }}"
                      class="rounded-none {% if childlink.current %}list-menu__item--active{% endif %}"
                      {% if childlink.current %}
                        aria-current="page"
                      {% endif %}
                    >
                      {{ childlink.title | escape }}
                    </a>
                  {%- else -%}
                    <details id="Details-HeaderSubMenu-{{ link.handle }}-{{ childlink.handle }}">
                      <summary
                        id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                      >
                        {{ childlink.title | escape }} {% render 'icon-caret' %}
                      </summary>
                      <ul
                        id="HeaderMenu-SubMenuList-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                      >
                        {%- for grandchildlink in childlink.links -%}
                          <li>
                            <a
                              id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                              href="{{ grandchildlink.url }}"
                              class="{% if grandchildlink.current %}list-menu__item--active{% endif %}"
                              {% if grandchildlink.current %}
                                aria-current="page"
                              {% endif %}
                            >
                              {{ grandchildlink.title | escape }}
                            </a>
                          </li>
                        {%- endfor -%}
                      </ul>
                    </details>
                  {%- endif -%}
                </li>
              {%- endfor -%}
            </ul>
          </details>
        </li>
      {%- else -%}
        <li>
          <a
            id="HeaderMenu-{{ link.handle }}"
            href="{{ link.url }}"
            class="rounded-none"
            {% if link.current %}
              aria-current="page"
            {% endif %}
          >
            <span
              {%- if link.current %}
                class="header__active-menu-item"
              {% endif %}
            >
              {{- link.title | escape -}}
            </span>
          </a>
        </li>
      {%- endif -%}
    {%- endfor -%}
  </ul>
</nav>
